<div class="pixels-and-sliders-container">

  <div class="image-a">
    <app-image-display #source
                       [sourceImage]="sourceImage"
                       [mask]="pointMask"
                       [title]="'Source Image'"
                       (pixelClick)="setVisibility($event)"
                       (pixelHover)="setHoveredPixel($event)"
                       (mouseleave)="setHoveredPixel(null)"></app-image-display>
  </div>

  <div class="image-b">
    <app-algorithm-box [title]="'Convert To Black And White'"
                       [inputA]="inputA || 'Source pixel'"
                       [inputB]="inputB || 'Threshold value'"
                       [calculation]="calculationText || 'If (pixel > ' + thresholdValue + ')\nNo  = 0\nYes = 7'"
                       [output]="output || 'Destination pixel value'"
                       [outputB]="true"
                       (complete)="completeDestinationImage()">
      <div outputB class="code-subtitle break-word">
        <div *ngIf="!outputB; else brackets">Comparison check</div>
        <ng-template #brackets>{{outputB}}</ng-template>
      </div>
    </app-algorithm-box>
  </div>

  <div class="footer-b slider-under-image">
    <div class="content-subtitle">Threshold Value</div>
    <mat-slider color="primary"
                [value]="thresholdValue"
                [min]="0"
                [max]="sourceImage.colorDepth"
                [step]="1"
                (input)="setThresholdValueSlider($event)">
    </mat-slider>
  </div>

  <div class="image-c">
    <app-image-display #result
                       [sourceImage]="resultImage"
                       [highlightPixel]="hoverPixel"
                       [title]="'Result Image'"></app-image-display>
  </div>
</div>
