<div class="tri-container">

  <app-image-display #source
                     [sourceImage]="sourceImage"
                     [mask]="pointMask"
                     [title]="'Source Image'"
                     (pixelClick)="setVisibility($event)"
                     (pixelHover)="setHoveredPixel($event)"
                     (mouseleave)="setHoveredPixel(null)"></app-image-display>

  <app-algorithm-box [title]="'Invert Each Pixel Value'"
                     [inputA]="inputB || 'Colour depth value'"
                     [inputB]="inputA || 'Source pixel value'"
                     [calculation]="calculationText || sourceImage.colorDepth + ' - Source pixel'"
                     [output]="output || 'Destination pixel value'"
                     (complete)="completeDestinationImage()"></app-algorithm-box>

  <app-image-display #result
                     [sourceImage]="resultImage"
                     [highlightPixel]="hoverPixel"
                     [title]="'Result Image'"></app-image-display>
</div>
