@import 'styles/styles';

.slider-under-image {
  width: 100%;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  background-color: white;
  @extend .mat-elevation-z1;

  mat-slider {
    width: 100%;
  }
}

.pixels-and-sliders-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto max-content;
  grid-gap: 8px;
  place-items: center;

  // @formatter:off
  grid-template-areas: 'image-a  image-b  image-c'
                       'footer-a footer-b footer-c';

  .image-a {grid-area: image-a;}
  .image-b {grid-area: image-b;}
  .image-c {grid-area: image-c;}
  .footer-a {grid-area: footer-a;}
  .footer-b {grid-area: footer-b;}
  .footer-c {grid-area: footer-c;}
  // @formatter:on

  .image-title {
    @extend .page-title;
    @extend .card-title-padding;
    text-align: center;
  }

}
