<div class="container">

  <div class="item">
    Data:
  </div>
  <div class="item">
    {{bytes}} bytes
  </div>

  <div class="item">
    Information:
  </div>
  <div class="item">
    {{entropyScore}} bytes
  </div>

  <div class="item">
    Ratio:
  </div>
  <div class="item justify-center progress-bar-constrain-height">
    <mat-progress-bar class="progress-bar-rounded-corners"
                      [value]="entropyFraction">
    </mat-progress-bar>
    <span class="progress-bar-text">{{entropyFraction}}%</span>
  </div>

</div>
