.animate-zoom {
  position: absolute;
  image-rendering: pixelated;

  animation: zoomIn 15000ms cubic-bezier(1, 0, 0.78, 1) infinite alternate;

}

@keyframes zoomIn {
  from {transform: scale(1);}
  to {transform: scale(100);}
}

.image-container {
  width: 600px;
  height: 600px;
  position: relative;
  overflow: hidden;

  border: 2px solid red;
}
