@import 'styles/styles';

.pixels-container {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-gap: 1px;

  .pixel-body {
    width: 32px;
    height: 32px;
    outline: 1px solid lightgreen;
  }

  .pixels-on {
    background-color: dimgrey;
  }

  .pixels-off {
    background-color: whitesmoke;
  }

  .pixels-highlight {
    outline: 1px solid green;
    background-color: greenyellow;
  }
}

.pixels-encoded-card {
  width: 75% !important;

  .pixels-font {
    font-size: 32px;
  }

  .pixels-text-scale {
    display: inline-block;
    margin-right: 4px;
  }

  .pixels-encoded-card-padding {
    padding-left: 16px;
  }
}

@media #{$mediaQ-small-desktop} {
  .pixels-container {
    grid-template-columns: repeat(17, 25px);
    grid-template-rows: repeat(17, 25px);
  }
}

:host-context(.is-presentation-mode) {
  .pixels-encoded-card {
    @extend .fadeable;
  }
}
