@import 'styles/styles';

.fourier-waves-page-container {
  display: grid;

  grid-template-columns: auto auto;
  place-items: center;
}

.fourier-view {
  border-radius: 6px;
  overflow: hidden;

  width: min-content;
  background-color: #333333;
  display: grid;
  grid-template: max-content / auto auto;
  // @formatter:off
  grid-template-areas:
    'visual-row visual-row'
    'lowpass    highpass';
  // @formatter:on
  //grid-gap: 8px;

  .lowpass {
    grid-area: lowpass;
  }

  .highpass {
    grid-area: highpass;
  }

  .lowpass, .highpass {
    display: grid;
    grid-gap: 8px;
    padding: 16px;
  }

  .dismantled-image-containment {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;

    background-color: black;
    overflow: hidden;
    height: 60px;

    .pixel-box {
      width: 60px;
      height: 60px;
      background-color: green;
      outline: 1px solid lime;
    }
  }
}

.sum-wave {
  z-index: 1;
  justify-self: right;
  transform: translate(30px);
}

.visual-row {
  grid-area: visual-row;
  justify-self: center;

  padding-top: 32px;
  background-color: black;
  overflow-x: hidden;
}

.single-wave {
  background-color: black;
  padding: 8px 8px 8px 16px;
  border-radius: 12px;
}

:host-context(.is-presentation-mode) {
  .fourier-fadeable {
    @extend .fadeable;
  }
}
