.fourier-waves-container {
  display: grid;

  grid-template-columns: auto auto;
  place-items: center;

  // @formatter:off
  //grid-template-areas: 'image-a  image-b  image-c'
  //                     'footer-a footer-b footer-c';
  //
  //.image-a {grid-area: image-a;}
  //.image-b {grid-area: image-b;}
  //.image-c {grid-area: image-c;}
  //.footer-a {grid-area: footer-a;}
  //.footer-b {grid-area: footer-b;}
  //.footer-c {grid-area: footer-c;}
  // @formatter:on

}

.fourier-view {
  border-radius: 6px;
  overflow: hidden;

  background-color: #333;
  display: grid;
  grid-template: max-content / auto auto;
  grid-gap: 8px;

  .dismantled-image-containment {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;

    background-color: black;
    overflow: hidden;
    height: 60px;

    .pixel-box {
      width: 60px;
      height: 60px;
      background-color: green;
      outline: 1px solid lime;
    }
  }
}

.sum-wave {
  z-index: 1;
  justify-self: right;
  transform: translate(30px);
}

.visual-row {
  padding-top: 32px;
  background-color: black;
  overflow-x: hidden;
}

.single-wave {
  background-color: black;
}
