<div class="content-title">Settings</div>
<mat-dialog-content>
  <div class="settings-container">
    <app-toggle-slider [isChecked]="isPresentationMode"
                       [tooltipText]="'Sets font size to be clearly visible to an audience'"
                       [label]="'Presentation Mode'"
                       [isDisabled]="false"
                       (change)="isPresentationMode = $event"></app-toggle-slider>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button
          color="accent"
          (click)="onNoClick()">Cancel
  </button>
  <button mat-button
          color="primary"
          (click)="closeOnSave()"
          cdkFocusInitial>Save
  </button>
</mat-dialog-actions>
