<div class="dashboard-container">

  <div class="social-container">
    <app-website-info></app-website-info>
  </div>

  <div class="subject-container">
    <div class="subject-card"
         *ngFor="let topic of topics">

      <mat-card (click)="goToRoute(topic.data);"
                class="cursor-pointer hover-bright mat-elevation-z3">
        <mat-card-title>{{topic.title}}</mat-card-title>
        <mat-card-subtitle>{{topic.subtitle}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

</div>
