@import 'styles/styles';

.dashboard-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'social subject empty';

  .empty-container {
    grid-area: empty;
  }

  grid-row-gap: 8px;
  grid-column-gap: 16px;
  padding-top: 28px;
}

.social-container {
  grid-area: social;

  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-row-gap: 16px;
}

:host {
  align-self: start !important;
}

.subject-container {
  grid-area: subject;
  width: 100%;
  display: grid;
  grid-row-gap: 8px;

  > .subject-card {
    text-align: center;
  }
}

.margin-right {
  margin-right: 8px;
}

@media #{$mediaQ-small-desktop} {
  .dashboard-container {
    grid-template-areas: 'social subject';
    grid-template-columns: max-content auto;
  }
}
