<div class="dashboard-container">

  <div class="social-container">
    <div class="social-media-button">
      <button class="margin-right hover-bright"
              mat-fab
              color="link">
        <a href="https://github.com/Blaarkies/Presentable-Angular">
          <img src="../../../assets/github-circle.svg" class="image-button-alignment">
        </a>
      </button>
      <div class="block-font button-text">github.com/Blaarkies</div>
    </div>

    <div class="social-media-button">
      <button class="margin-right hover-bright"
              mat-fab
              color="link">
        <a href="https://twitter.com/Blaarkies">
          <img src="../../../assets/twitter-circle.svg" class="image-button-alignment">
        </a>
      </button>
      <div class="block-font button-text">@Blaarkies</div>
    </div>

    <div class="social-media-button">
      <button class="margin-right hover-bright"
              mat-fab
              color="link"
              (click)="websiteInfoDialog()">
        <mat-icon class="mat-icon-fix-size">info</mat-icon>
      </button>
      <div class="block-font button-text"></div>
    </div>
  </div>

  <div class="subject-container">
    <div class="subject-card"
         *ngFor="let card of cards">

      <mat-card (click)="goToRoute(card.data);"
                class="cursor-pointer hover-bright mat-elevation-z0">
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
      </mat-card>
    </div>
  </div>

</div>
