$size-page-title: 30px;

$size-content-title: 24px;
$size-content-subtitle: 20px;
$size-content-text: 16px;

$size-code-title: 32px;
$size-code-subtitle: 20px;
$size-code-text: 16px;

$size-pixel-number: 36px;

.font-default {
  font-family: Roboto, sans-serif;
}

.font-code {
  font-family: monospace;
}

.page-title {
  font-size: $size-page-title !important;
  @extend .font-default;
}


.content-title {
  font-size: $size-content-title !important;
  @extend .font-default;
}

.content-subtitle {
  font-size: $size-content-subtitle !important;
  @extend .font-default;
}

.content-text {
  font-size: $size-content-text !important;
  @extend .font-default;
}


.code-title {
  font-size: $size-code-title !important;
  @extend .font-code;
}

.code-subtitle {
  font-size: $size-code-subtitle !important;
  @extend .font-code;
}

.code-text {
  font-size: $size-code-text !important;
  @extend .font-code;
}


.font-pixel-number {
  font-size: $size-pixel-number !important;
  @extend .font-code;
}
