@import 'fonts';
@import 'material-theming';
@import 'variables';

.highlight-code-viewing {
  color: black;
  outline: 1px solid green;
  background-color: greenyellow !important;
}

.highlight-code-viewing-secondary {
  color: black;
  outline: 1px solid purple;
  background-color: lighten(indigo, 70) !important;
}

html, body {
  margin: 0;
  background-color: lightgrey;
}

[hidden] {
  display: none !important;
}

.transparent-more {
  opacity: 0.15;
}

.transparent {
  opacity: 0.5;
}

.hover-bright:hover {
  box-shadow: 0 0 20px 4px floralwhite !important;
  filter: brightness(1.2);
}

.hover-darken {
  transition-property: filter;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

  &:hover {
    filter: brightness(0.8);
  }
}

.hover-code-highlight:hover {
  @extend .highlight-code-viewing;
}

.hover-code-highlight-secondary:hover {
  @extend .highlight-code-viewing-secondary;
}

.hover-gray:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.fade-base {
  transition-property: opacity, filter;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.fade-out {
  filter: blur(3px);
  opacity: 0.15;
}

.fade-in {
  animation: light-up cubic-bezier(0.1, 0.7, 0.9, 0.3) 1000ms 1;
}

.fadeable {
  transition: 1s ease-in-out;
  transition-property: opacity;
  opacity: 0;

  &.show {
    opacity: 1;
  }
}

@keyframes light-up {
  from {
    filter: brightness(1) drop-shadow(0 0 10px transparent);
  }
  to {
    filter: brightness(2) drop-shadow(0 0 10px white);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.divider-normal {
  position: initial !important;
  left: auto !important;
  width: auto !important;
}

.scrollbar-primary {
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid #545454;
    background: linear-gradient(to bottom, #48AB4B 0%, #3D9140 5%, #4EB250 50%, #3D9140 95%, #48AB4B 100%);
  }
}

.mat-card-fix-align-right {
  text-align: right;
}

.mat-card-fix-title-button-container {
  display: grid;
  grid-template-columns: auto max-content;
}

.bi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;

  > .item {
    margin: auto;
  }
}

.tri-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;

  place-items: center;
}

.mat-card-fix-footer-padding {
  padding: 0 12px 12px 12px;
}

.footer-container {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding-top: 16px;
  align-items: center;
}

.card-title-padding {
  padding-bottom: 16px;
}

.animate-fade-in {
  animation: opacity0to1 1000ms ease-in-out forwards;
}

@keyframes opacity0to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlap-container {
  display: grid;
  grid-template-areas: 'overlap';

  .overlap-a {
    grid-area: overlap;
    z-index: 1;
  }

  .overlap-b {
    grid-area: overlap;
    z-index: 2;
  }
}

.is-presentation-mode {
  background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      transparentize(gray, 0.9) 10px,
      transparentize(gray, 0.9) 20px
  );


}
