.example-image {
  vertical-align: -webkit-baseline-middle;
  width: 90vw;
}

.list-item-container {
  display: grid;
  grid-template-columns: max-content auto;

  >.right {
    justify-self: right;
    font-style: oblique;
    color: dimgray;
  }

}
