@import 'styles/styles';

.list-item-container {
  display: grid;
  grid-template-columns: max-content auto;

  > .right {
    justify-self: right;
    font-style: oblique;
    color: dimgray;
  }
}

:host-context(.is-presentation-mode) {
  .summary-fadeable {
    @extend .fadeable;
  }
}

.equation-image {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
