<mat-card>
  <div class="content-title card-title-padding">Summary</div>

  <mat-card-content>
    <ul class="content-subtitle" (click)="bulletNumber = bulletNumber + 1">
      <li>Information Entropy <span class="summary-fadeable"
                                    [class.show]="bulletNumber > 1">for a fair coin toss</span>
      </li>
      <div class="equation-image summary-fadeable"
           style="background-image: url('assets/shanon_entropy_coin.PNG');"
           [class.show]="bulletNumber > 2"></div>
      <li class="summary-fadeable" [class.show]="bulletNumber > 3">
        <div class="list-item-container">
          <div>Recognize a pattern, replace it with something shorter</div>
          <div class="right">AAAAA can be written as 5xA</div>
        </div>
      </li>

      <br>

      <li class="summary-fadeable" [class.show]="bulletNumber > 4">
        <div class="list-item-container">
          <div>Most of the time, a dictionary needs to be sent</div>
          <div class="right">You need to know that Gucci = 0; Gang = 1;</div>
        </div>
      </li>

      <br>

      <li class="summary-fadeable" [class.show]="bulletNumber > 5">
        <div class="list-item-container">
          <div>Huffman Coding converts every unit into the simplest state</div>
          <div class="right">The text "FaceEmoji, Smiley, ASCII 249" can be shortened 1,2,3</div>
        </div>
      </li>

      <br>

      <li class="summary-fadeable" [class.show]="bulletNumber > 6">
        <div class="list-item-container">
          <div>LZW will link letters and group them as words</div>
          <div class="right">Long words can be written outside the ASCII range, like Supercalifragilisticexpialidocious = 256</div>
        </div>
      </li>

      <br>
    </ul>

  </mat-card-content>

</mat-card>
