@import 'styles/styles';

.slider-background {
  height: max-content;

  background-color: ghostwhite;
  border-radius: 16px;
  padding: 8px;
  @extend .mat-elevation-z1;
}

.filtering-container {
  display: grid;
  grid-gap: 16px;
}

.button-padding {
  padding: 16px 8px;
}

.shortcuts-container {
  display: grid;
  grid-template-columns: repeat(4, auto);

  grid-gap: 8px;
  align-items: center;
}

.place-button-top-right {
  place-self: start end;
  margin: -5%;
}
