<div class="tri-container">

  <app-image-display #source
                     [sourceImage]="sourceImage"
                     [mask]="customMask"
                     [title]="'Source Image'"
                     [lockHighlights]="pressedPixel"
                     (pixelClick)="setVisibility($event)"
                     (pixelHover)="setHoveredPixel($event)"
                     (mouseleave)="setHoveredPixel(null)"
                     (pixelPress)="setPressedPixel($event)">
  </app-image-display>

  <div class="filtering-container">
    <app-algorithm-box [title]="'Apply Custom Filter On Each Pixel'"
                       [inputA]="inputA || '9 pixel values'"
                       [inputB]="inputB || 'Corresponding mask values'"
                       [inputC]="true"
                       [calculation]="calculationText || (isAverage ? 'sum / count' : 'sum')"
                       [output]="output || 'Destination pixel value'"
                       [kernelInputA]="kernelInputA"
                       [kernelInputB]="customMask"
                       [editKernelB]="true"
                       (complete)="completeDestinationImage()"
                       (pixelHover)="setHoveredMaskPixel($event)"
                       (mouseleave)="setHoveredMaskPixel(null)">

      <div inputC class="code-subtitle break-word">
        <div *ngIf="!inputC; else brackets">Sum all products</div>

        <ng-template #brackets>
          <ng-container *ngFor="let bracket of inputC; let isLast = last;">
            <span [class.highlight-code-viewing]="bracket.highlight">{{bracket.display}}</span>
            <span *ngIf="!isLast">+</span>
          </ng-container>
        </ng-template>
      </div>
    </app-algorithm-box>

    <div class="shortcuts-container">
      <button mat-raised-button class="content-title button-padding" (click)="activateSmoothMask()">Smooth</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateGaussianMask()">Gaussian</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateSharpenMask()">Sharpen</button>
      <div class="slider-background">
        <app-toggle-slider [isChecked]="isAverage"
                           [tooltipText]="'Toggles calculation between sum and average'"
                           [label]="'Average'"
                           (change)="setIsAverageSlider($event)"></app-toggle-slider>
      </div>
    </div>
  </div>

  <app-image-display #result
                     [sourceImage]="resultImage"
                     [showNegativeValues]="!isAverage"
                     [title]="'Result Image'"></app-image-display>
</div>
