<!--
add shortcut buttons next to the kernel
- Average blur
- Gaussian blur
- Laplace unsharp
- Sobel
-->

<div class="tri-container">

  <app-image-display #source
                     [sourceImage]="sourceImage"
                     [mask]="customMask"
                     [title]="'Source Image'"
                     (pixelClick)="setVisibility($event)"
                     (pixelHover)="setHoveredPixel($event)"
                     (mouseleave)="setHoveredPixel(null)"></app-image-display>

  <div class="filtering-container">
    <app-algorithm-box [title]="'Apply Custom Filter On Each Pixel'"
                       [inputA]="inputA || '9 pixel values'"
                       [inputB]="inputB || 'Corresponding mask values'"
                       [calculation]="calculationText || (isAverage ? 'sum / count' : 'sum')"
                       [output]="output || 'Destination pixel value'"
                       [kernelInputA]="kernelInputA"
                       [kernelInputB]="customMask"
                       [editKernelB]="true"
                       (complete)="completeDestinationImage()"></app-algorithm-box>
    <div class="shortcuts-container">
      <button mat-raised-button class="content-title button-padding" (click)="activateSmoothMask()">Smooth</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateGaussianMask()">Gaussian</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateSharpenMask()">Sharpen</button>
      <div class="slider-background">
        <app-toggle-slider [isChecked]="isAverage"
                           [tooltipText]="'Toggles calculation between sum and average'"
                           [label]="'Average'"
                           (change)="setIsAverageSlider($event)"></app-toggle-slider>
      </div>
    </div>
  </div>

  <app-image-display #result
                     [sourceImage]="resultImage"
                     [highlightPixel]="hoverPixel"
                     [showNegativeValues]="!isAverage"
                     [title]="'Result Image'"></app-image-display>
</div>
