<div class="tri-container">

  <app-image-display #source
                     [sourceImage]="sourceImage"
                     [mask]="customMask"
                     [title]="'Source Image'"
                     [lockHighlights]="pressedPixel"
                     (pixelClick)="setVisibility($event)"
                     (pixelHover)="setHoveredPixel($event)"
                     (mouseleave)="setHoveredPixel(null)"
                     (pixelPress)="setPressedPixel($event)">
  </app-image-display>

  <div class="filtering-container">
    <app-algorithm-box [title]="'Apply Custom Filter On Each Pixel'"
                       [calculation]="calculationText || (isAverage ? 'sum / count' : 'sum')"
                       [output]="output || 'Destination pixel value'"
                       (complete)="completeDestinationImage()"
                       (mouseleave)="setHoveredMaskPixel(null)"
                       [inputATemplate]="inputATemplate"
                       [inputBTemplate]="inputBTemplate"
                       [inputCTemplate]="inputCTemplate">
      <ng-template #inputATemplate>
        <app-mask-editor *ngIf="kernelInputA; else textInputA"
                         [mask]="kernelInputA"
                         [disabled]="true"
                         (pixelHover)="setHoveredMaskPixel($event)"></app-mask-editor>
        <ng-template #textInputA>9 pixel values</ng-template>
      </ng-template>

      <ng-template #inputBTemplate>
        <app-mask-editor [mask]="customMask"
                         (change)="updateKernels()"></app-mask-editor>
      </ng-template>

      <ng-template #inputCTemplate>
        <div class="code-subtitle break-word">
          <div *ngIf="!products; else brackets">Sum all products</div>

          <ng-template #brackets>
            <ng-container *ngFor="let bracket of products; let isLast = last;">
              <span [class.highlight-code-viewing]="bracket.highlight">{{bracket.display}}</span>
              <span *ngIf="!isLast">+</span>
            </ng-container>
          </ng-template>
        </div>
      </ng-template>
    </app-algorithm-box>

    <div class="shortcuts-container">
      <button mat-raised-button class="content-title button-padding" (click)="activateSmoothMask()">Smooth</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateGaussianMask()">Gaussian</button>
      <button mat-raised-button class="content-title button-padding" (click)="activateSharpenMask()">Sharpen</button>
      <div class="slider-background">
        <app-toggle-slider [isChecked]="isAverage"
                           [tooltipText]="'Toggles calculation between sum and average'"
                           [label]="'Average'"
                           (change)="setIsAverageSlider($event)"></app-toggle-slider>
      </div>
    </div>
  </div>

  <app-image-display #result
                     [sourceImage]="resultImage"
                     [showNegativeValues]="!isAverage"
                     [title]="'Result Image'"></app-image-display>
</div>
