<div class="">

  <mat-card class="overlap-a mat-card-remove-box">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Transform">
          <div class="fourier-container">
            <div class="large-image" style="background-image: url('assets/fourier/fourier-normal.jpg');"></div>
            <mat-icon class="center-arrow">arrow_forward</mat-icon>
            <div class="large-image" style="background-image: url('assets/fourier/fourier-map.jpg');"></div>
          </div>
        </mat-tab>

        <mat-tab label="Sharpen">
          <div class="fourier-container">
            <div class="large-image" style="background-image: url('assets/fourier/fourier-sharp-map.jpg');"></div>
            <mat-icon class="center-arrow">arrow_forward</mat-icon>
            <div class="large-image" style="background-image: url('assets/fourier/fourier-sharp-result.jpg');"></div>
          </div>
        </mat-tab>

        <mat-tab label="Blur">
          <div class="fourier-container">
            <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-map.jpg');"></div>
            <mat-icon class="center-arrow">arrow_forward</mat-icon>
            <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-result.jpg');"></div>
          </div>
        </mat-tab>

        <mat-tab label="Custom">
          <div class="fourier-container">
            <div class="large-image" style="background-image: url('assets/fourier/fourier-special-map.jpg');"></div>
            <mat-icon class="center-arrow">arrow_forward</mat-icon>
            <div class="large-image" style="background-image: url('assets/fourier/fourier-special-result.jpg');"></div>
          </div>
        </mat-tab>

        <mat-tab label="Equation">
          <div>
            <div class="large-image"
                 style="background-image: url('assets/image-processing/fourier_equation.png');"></div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>


