<div fxLayout="column"
     fxFill>
  <mat-toolbar class="app-toolbar"
               [hidden]="!currentImage">
    <div style="width: 100px;
              height: 100%;
              background: no-repeat center;
              background-size: contain;
              content:' '"
         [style.background-image]="currentImage">
    </div>
    <span style="padding-left: 24px">{{currentRoute}}</span>
  </mat-toolbar>

  <div fxFlex="64px"></div>

  <div class="background-normal text-color-normal █max-size █app-body"
       fxFlex>
    <router-outlet></router-outlet>
  </div>
</div>
