<div class="app-page">

  <mat-toolbar class="toolbar-container"
               [hidden]="!currentImage">
    <div class="page-avatar"
         [style.background-image]="currentImage"></div>
    <span class="subject-title">{{currentShowcase}}</span>

    <span class="page-title-font">{{pageTitle}}</span>

    <div class="full-height" [class.invisible]="router.url === '/'">
      <button mat-button class="full-height" [routerLink]="['']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-raised-button class="full-height hover-gray" (click)="pageBackward()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-raised-button class="full-height hover-gray" (click)="pageForward()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="router-outlet-align">
    <router-outlet></router-outlet>
  </div>
</div>
