@import 'styles/styles';

.app-page {
  display: grid;
  grid-template-rows: 64px auto;
  height: 100vh;
}

.toolbar-container {
  display: grid;
  grid-template-columns: auto auto;
}

.settings-and-page-id {
  height: 100%;
  place-self: start;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;

  .page-avatar {
    width: 100px;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
    content: ' ';
    margin-right: 16px;
  }
}

.toggle-and-navigation {
  place-self: end;
  display: grid;
  grid-template-columns: max-content max-content;

  .nav-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
  }
}

.full-height {
  height: 100%;
}

.router-outlet-align {
  padding: 10px 20px;

  display: grid;
  grid-template-rows: 0 auto;

  // Set the component pages to be centered, on their host element
  // This way the dashboard component can re-align itself to top
  ::ng-deep > * {
    align-self: center;
  }
}

::ng-deep .mat-toolbar-single-row {
  padding: unset;
}

.settings-button {
  @extend .full-height;
  @extend .hover-gray;

  min-width: unset;
}
