.hover-bright:hover {
  filter: brightness(1.2);
}

.text-center {
  text-align: center;
}

.background-normal {
  background-color: #2B2B2B;
}

.text-color-normal {
  color: #BBBBBB;
}

.max-size {
  height: 100%;
  width: 100%;
}

mat-card {
  background-color: #3C3F41;
  width: 600px;
}

mat-card-title {
  color: #BBBBBB;
}

mat-card-subtitle {
  color: #BBBBBB;
}

mat-grid-tile {
  padding: 20px;
}
