.app-page {
  display: grid;
  grid-template-rows: 64px auto;
  grid-template-columns: 1fr;
  height: 100vh;

  .toolbar {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .router {
    grid-row-start: 2;
    grid-row-end: 2;
  }
}

.page-avatar {
  width: 100px;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
  content: ' ';
  margin-right: 16px;
}
