@import 'styles/styles';

.app-page {
  display: grid;
  grid-template-rows: 64px auto;
  height: 100vh;
}

.toolbar-container {
  display: grid;
  grid-template-columns: auto auto;
}

.settings-and-page-id {
  height: 100%;
  place-self: start;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;

  .page-avatar {
    width: 100px;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
    content: ' ';
    margin-right: 16px;
  }

  .subject-title {
    font-size: 30px;
  }
}

.toggle-and-navigation {
  place-self: end;
  display: grid;
  grid-template-columns: max-content max-content;

  .nav-buttons-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
  }
}

.page-title-font {
  place-self: center;
  @extend .font-default;
  font-size: 32px;
}

.full-height {
  height: 100%;
}

.router-outlet-align {
  align-self: center;
  padding: 10px 20px;
}

@media #{$mediaQ-small-desktop} {
}

::ng-deep .mat-toolbar-single-row {
  padding: unset;
}

.settings-button {
  @extend .full-height;
  @extend .hover-gray;

  min-width: unset;
}
