<div class="app-page" [class.is-presentation-mode]="isPresentationMode">

  <div class="overlap-container">
    <mat-toolbar class="overlap-a toolbar-container" [hidden]="!currentImage">
      <div class="settings-and-page-id">
        <button mat-button
                class="settings-button"
                (click)="openSettings()">
          <mat-icon>settings</mat-icon>
        </button>
        <div class="page-avatar" [style.background-image]="currentImage"></div>
        <span class="page-subtitle center-text">{{currentShowcase}}</span>
      </div>

      <div class="toggle-and-navigation">
        <app-toggle-slider [isChecked]="isTutorialMode"
                           [isDisabled]="true"
                           [tooltipText]="'Coming soon...'"
                           [label]="'Tutorial'"
                           (change)="isTutorialMode = $event"></app-toggle-slider>

        <span class="full-height nav-buttons-container" *ngIf="router.url !== '/'">
          <button mat-button class="full-height" [routerLink]="['']">
            <mat-icon>home</mat-icon>
          </button>

          <button mat-raised-button
                  class="full-height hover-gray"
                  [disabled]="backwardButtonDisabled"
                  (click)="pageBackward()">
            <mat-icon>navigate_before</mat-icon>
          </button>

          <button mat-raised-button
                  class="full-height hover-gray"
                  [disabled]="forwardButtonDisabled"
                  (click)="pageForward()">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </span>
      </div>
    </mat-toolbar>

    <div class="overlap-b page-title center-text">{{pageTitle}}</div>
  </div>

  <div class="router-outlet-align">
    <router-outlet></router-outlet>
  </div>
</div>
