@import '~@angular/material/theming';

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .item {
    width: max-content;
    margin: auto;
  }
}

.transition {
  transition: 1.4s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}

.transition-blur {
  filter: blur(10px);
}

.transition-no-blur {
  filter: blur(0);
}

.text-tile-center {
  text-align: center;
  width: 100%;
  font-family: lucida console, monospace;
}

.footer-padding {
  padding: 0 12px 12px 12px;
}

.footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  .footer-item {
  }
}

.pixels-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-gap: 1px;

  .pixels-item {
  }
}

.pixel-color {
  width: 32px;
  height: 32px;
}

.pixels-on {
  background-color: dimgrey;
}

.pixels-off {
  background-color: whitesmoke;
}

.pixels-highlight {
  outline: 1px solid green;
  background-color: greenyellow;
}

.pixels-encoded-card-size {
  width: 75% !important;
}

.pixels-font {
  font: 24px monospace;
}

.pixels-text-scale {
  transform: scale(2, 1);
  display: inline-block;
  margin-right: 32px;
}

.pixels-encoded-card-padding {
  padding-left: 16px;
}

.cursor-pointer {
  cursor: pointer;
}

.huffman-container {
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content auto;
  grid-template-areas:
    'text-to-encode huffman-tree'
    'huffman-table  huffman-tree';
  grid-gap: 8px;
}

.text-to-encode {
  grid-area: text-to-encode;
}

.huffman-table {
  grid-area: huffman-table;
}

.huffman-tree {
  grid-area: huffman-tree;
}
