.transition {
  transition: 1.4s -webkit-filter cubic-bezier(0.65, 0.05, 0.36, 1);
}

.transition-blur {
  filter: blur(10px);
}

.transition-no-blur {
  filter: blur(0);
}

/*header-title for each page, they don't take up space*/
.text-tile-center {
  float: left;
  margin-top: -10px;
  text-align: center;
  width: 100%;
  font-family: lucida console, monospace;
}

.font-pixel {
  font: 24px monospace;
}

.text-to-pixel {
  transform: scale(2,1);
  margin-left: 186px;
}

.huffman-code-viewing {
  color: greenyellow;
  outline: 1px solid white;
}
