<div style="position: absolute; top: 0; right: 50px;">
  <button mat-flat-button (click)="switchPage(false)">Back</button>
  <button mat-flat-button (click)="switchPage(true)">Next</button>
</div>

<div [hidden]="currentPage !== 1">
  <app-page-data-and-information [data]="data" [charLimit]="charLimit"></app-page-data-and-information>
</div>

<div *ngIf="currentPage === 2">
  <app-page-data-without-pattern [charLimit]="charLimit"></app-page-data-without-pattern>
</div>

<div *ngIf="currentPage === 3">
  <app-page-run-length-encoding [data]="data?.asciiImage"></app-page-run-length-encoding>
</div>

<div *ngIf="currentPage === 4">
  <app-page-huffman-coding-tree [data]="data?.medium"></app-page-huffman-coding-tree>
</div>

<div *ngIf="currentPage === 5">
  <app-page-huffman-coding-encode [data]="data?.medium"></app-page-huffman-coding-encode>
</div>

<div *ngIf="currentPage === 6">
  <app-page-lempel-ziv-welch [data]="data?.low"></app-page-lempel-ziv-welch>
</div>

<div *ngIf="currentPage === 7">
  <app-page-questions></app-page-questions>
</div>



