<mat-accordion>
  <mat-expansion-panel class="remove-expansion-panel-padding"
                       [expanded]="encodeMode">

    <mat-list class="scrollbar-primary list-small">
      <ng-container *ngFor="let rule of encodedWords">

        <mat-list-item class="hover-gray">
          <span class="content-title">{{rule.normal}} = {{rule.encoded}}</span>
        </mat-list-item>
        <mat-divider class="divider-normal"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-card class="min-width-limit">
  <div class="content-title card-title-padding">
    {{datebook?.name}} - {{datebook?.artist}}
  </div>

  <div class="content-subtitle">
    <div *ngFor="let line of datebook?.lines">

      <span class="hover-code-highlight-secondary cursor-pointer"
            *ngFor="let word of line.split(' ')"
            [class.highlight-code-viewing]="getEncoded(word)"
            (click)="selectWordToEncode(word)">
        {{encodeMode && getEncoded(word) ? getEncoded(word).encoded : word }}
        {{' '}}
      </span>
    </div>
  </div>

  <mat-card-footer class="mat-card-fix-footer-padding">
    <div class="entropy-footer-container">

      <app-entropy-info [entropyObject]="datebook"></app-entropy-info>

      <div class="justify-bottom-right">
        <button mat-flat-button
                (click)="encodeMode = !encodeMode"
                [hidden]="encodedWords.length === 0">
          {{encodeMode ? 'Decode' : 'Encode'}}
        </button>
      </div>
    </div>
  </mat-card-footer>

</mat-card>
