<div class="tri-container">

  <div class="item" (mouseleave)="setMaskVisibility(null)">
    <div class="pixel-numbers-container">
      <div *ngFor="let pixel of sourcePixels; let i = index"
           class="font-monospace pixel-with-number hover-code-highlight cursor-pointer"
           [ngClass]="'pixel-color-'+pixel.value"
           [class.highlight-mask]="pixel.maskVisible"
           (click)="setVisibility(pixel)"
           (mouseenter)="setMaskVisibility(pixel)">
        {{pixel.value}}
      </div>
    </div>
  </div>

  <div class="item">
    <mat-card>
      <mat-card-title>Blur each pixel value</mat-card-title>

      <mat-card-content>
        <div class="card-medium-font">

          <div class="bi-container">
            <div class="left-label-container">
              <div class="label">Source pixel's value</div>
              <div class="left-label-connector"></div>
            </div>
            <div class="right-label-container">
              <div class="label">All 8 neighbouring pixels' values</div>
              <div class="right-label-connector"></div>
            </div>
          </div>

          <div class="algorithm-box-container">
            <button class="hover-darken"
                    mat-fab
                    color="primary"
                    (click)="completeDestinationImage()">
              <mat-icon class="mat-icon-fix-size animate-mat-icon-rotate">settings</mat-icon>
            </button>
            <div class="algorithm-code">numbers / 9</div>
          </div>

          <div class="center-label-container">
            <div class="center-label-connector"></div>
            <div class="label">Destination pixel's value</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="item">
    <div class="pixel-numbers-container">
      <div *ngFor="let pixel of resultPixels"
           class="font-monospace pixel-with-number transition-on-opacity"
           [ngClass]="'pixel-color-'+pixel.value"
           [style.opacity]="pixel.visible ? 1:0">
        {{pixel.value}}
      </div>
    </div>
  </div>

</div>
