$color-mask-highlight: transparentize(green, 0.5);
.highlight-mask {
  animation: highlightBackground 750ms ease-in-out alternate-reverse infinite;
  background-image: linear-gradient($color-mask-highlight, $color-mask-highlight);
}

@keyframes highlightBackground {
  from {filter: contrast(0.8);}
  to {filter: contrast(1.2);}
}
