@import '../../page-in-real-life-images/page-in-real-life-images.component';

.large-image {
  height: 800px;
}

.mat-card-remove-box {
  box-shadow: unset;
  padding: unset;
}

.place-button-right {
  place-self: start end;
  transform: translate(-10%, 0%);
}
