<div class="pixels-and-sliders-container">

  <div class="image-a">
    <app-image-display #source
                       [sourceImage]="sourceImage"
                       [mask]="sharpMask"
                       [title]="'Source Image'"
                       (pixelHover)="setHoveredPixel($event)"
                       (mouseleave)="setHoveredPixel(null)"></app-image-display>
  </div>

  <div class="image-b">
    <div class="overlap-container">

      <button class="overlap-b place-button-top-right hover-darken"
              mat-mini-fab
              color="primary"
              (click)="showMask = !showMask">
        <mat-icon>info</mat-icon>
      </button>
      <app-image-display class="overlap-a transition-transparency"
                         #sharp
                         [class.transparent-more]="showMask"
                         [sourceImage]="sharpImage"
                         [highlightPixel]="hoverPixel"
                         [showNegativeValues]="true"
                         [title]="'Sharpening Guide'"></app-image-display>
      <app-mask-editor class="overlap-b animate-fade-in center-mask-editor"
                       [mask]="sharpMask"
                       *ngIf="showMask"></app-mask-editor>
    </div>

  </div>

  <mat-slider class="footer-b slider-under-image"
              color="primary"
              [value]="sharpenPower"
              [min]="0"
              [max]="1"
              [step]="0.01"
              (input)="setSharpnessPowerSlider($event)">
  </mat-slider>

  <div class="image-c">
    <app-image-display #result
                       [sourceImage]="sumImage"
                       [highlightPixel]="hoverPixel"
                       [title]="'Result Image'"></app-image-display>
  </div>
</div>
