<div class="pixels-and-sliders-container">

  <div class="image-a">
    <div class="image-title">Source Image</div>
    <app-image-display #source
                       [sourceImage]="sourceImage"
                       [mask]="sharpMask"
                       (pixelHover)="setHoveredPixel($event)"
                       (mouseleave)="setHoveredPixel(null)"></app-image-display>
  </div>

  <div class="image-b">
    <div class="image-title">Sharpening Guide</div>
    <app-image-display #sharp
                       [sourceImage]="sharpImage"
                       [highlightPixel]="hoverPixel"></app-image-display>

  </div>

  <div class="image-c">
    <div class="image-title">Result Image</div>
    <app-image-display #result
                       [sourceImage]="sumImage"
                       [highlightPixel]="hoverPixel"></app-image-display>
  </div>

  <mat-slider class="footer-b slider-under-image"
              color="primary"
              [value]="sharpenPower"
              [min]="0"
              [max]="1"
              [step]="0.01"
              (input)="setSharpnessPowerSlider($event)">
  </mat-slider>

  <mat-slider class="footer-c slider-under-image"
              color="primary"
              [value]="resultPower"
              [min]="0"
              [max]="1"
              [step]="0.01"
              (input)="setResultPowerSlider($event)">
  </mat-slider>
</div>
