<div class="pixels-and-sliders-container">

  <div class="image-a">
    <app-image-display #source
                       [sourceImage]="sourceImage"
                       [mask]="pointMask"
                       [title]="'Source Image'"
                       (pixelHover)="setHoveredPixel($event)"
                       (mouseleave)="setHoveredPixel(null)"></app-image-display>
  </div>

  <div class="image-b">
    <div class="overlap-container">

      <app-button-icon-fab class="overlap-b place-button-top-right"
                           (click)="showMask = !showMask">
        info
      </app-button-icon-fab>
      <app-image-display class="overlap-a transition-transparency"
                         #sharp
                         [class.transparent-more]="showMask"
                         [sourceImage]="sharpImage"
                         [highlightPixel]="hoverPixel"
                         [showNegativeValues]="true"
                         [title]="'Sharpening Guide'"></app-image-display>
      <app-mask-editor *ngIf="showMask"
                       class="overlap-b animate-fade-in center-mask-editor"
                       [mask]="sharpMask"
                       [disabled]="true"></app-mask-editor>
    </div>

  </div>

  <div class="footer-b slider-under-image">
    <div class="code-subtitle align-text-center">
      {{inputA || 'Source'}} + {{inputB || 'Sharpening'}} = {{output || 'Result'}}
    </div>

    <mat-slider class="slider"
                color="primary"
                [value]="sharpenPower"
                [min]="0"
                [max]="1"
                [step]="0.01"
                (input)="setSharpnessPowerSlider($event)">
    </mat-slider>
  </div>

  <div class="image-c overlap-container">
    <app-button-icon-fab class="overlap-b place-button-corner-top"
                         (buttonClick)="openFullscreenExampleDialog()">aspect_ratio
    </app-button-icon-fab>

    <app-image-display class="overlap-a"
                       #result
                       [sourceImage]="sumImage"
                       [highlightPixel]="hoverPixel"
                       [title]="'Result Image'"></app-image-display>
  </div>
</div>
