@import 'styles/styles';

.lzw-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  // @formatter:off
  grid-template-areas: 'text-to-encode encoded'
                       'coding-table   coding-table';
  .text-to-encode {grid-area: text-to-encode;}
  .encoded {grid-area: encoded;}
  .coding-table {grid-area: coding-table;}
  // @formatter:on

  grid-column-gap: 8px;
  grid-row-gap: 16px;
}

.lzw-table-container {
  display: grid;
  grid-template-columns: max-content minmax(max-content, 100px) auto;
  // @formatter:off
  grid-template-areas: 'letterTitle letterTitle dictionaryTitle'
                       'description character   dictionary'
                       'restore     next        .';
  .letterTitle {grid-area: letterTitle;}
  .dictionaryTitle {
    grid-area: dictionaryTitle;
    margin-left: 12.5%;
  }
  // @formatter:on

  grid-gap: 4px;

  .description {
    grid-area: description;

    background-color: white;
    height: 100%;
  }

  .character {
    grid-area: character;

    user-select: none;
    background-color: white;
    height: 100%;
    text-align: center;
  }

  .dictionary {
    grid-area: dictionary;

    width: 75%;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 100px));
    grid-gap: 4px;

    > .item {
      background-color: white;
      padding: 4px 0;
      text-align: center;
    }
  }

  .restore-button {
    grid-area: restore;
    justify-self: center;
  }

  .next-button {
    grid-area: next;
    justify-self: center;
  }
}

.encoded-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-row-gap: 8px;

  > .item {
    text-align: center;
  }
}

@media #{$mediaQ-small-desktop} {
  .lzw-container {
    grid-template-columns: auto 58%;
  }

  .encoded-container {
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-row-gap: 0;
  }
}

.empty-dictionary {
  align-self: center;
  display: grid;
  justify-content: center;

  .mat-icon {
    justify-self: center;
  }
}

.network-encoded-container {
  display: grid;
  grid-gap: 32px;
}

.fix-mat-card-full-height {
  padding: 0;
  height: 100%;

  .fix-mat-card-normal-padding {
    padding: 24px;
  }
}
