<div class="bi-container">

  <mat-card>
    <mat-card-title>
      <div class="mat-card-fix-title-button-container align-center">
        <div>LZMA</div>
        <div class="mat-card-fix-align-right">
          <img src="../../../../assets/logo-7zipclassiclzma.svg" class="image-height"/>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content class="card-big-font">
      <ul>
        <li>Compresses the entire works of <i>Shakespeare</i> down to 28% of it's original size</li>
        <li>Available through <i>7-Zip</i></li>
        <li>Uses a dictionary compression scheme</li>
        <li>Features a high compression ratio</li>
        <li>Compression-dictionary size is variable in size up to 4GB</li>
        <li>Encodes strings of characters as elements, using a "copy-paste" approach
          where previous entries are referenced instead of writing the primitive values down
        </li>
        <li>This previous referencing is also encoded, so that frequently used references
          are recorded in smaller byte values than typically needed
        </li>
      </ul>
    </mat-card-content>

  </mat-card>

  <mat-card>
    <mat-card-title>
      <div class="mat-card-fix-title-button-container align-center">
        <div>gzip</div>
        <div class="mat-card-fix-align-right">
          <img src="../../../../assets/logo-gzip3d.png" class="image-height"/>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content class="card-big-font">
      <ul>
        <li>Compresses the entire works of <i>Shakespeare</i> down to 39% of it's original size</li>
        <li>Used in HTTP compression, to speed up sending HTML</li>
        <li>A combination of <i>LZW</i> and <i>Huffman coding</i></li>
        <li>Licenced under <i>GNU General Public License</i></li>
        <li>Initial release, 31 October 1992</li>
        <li><a href="http://www.gzip.org/">http://www.gzip.org/</a></li>
        <li>Recommended because Internet Explorer does not implement the <i>zlib</i> format correctly</li>
        <li><i>AdvanceCOMP</i> and <i>7-Zip</i> can produce gzip-compatible files</li>
      </ul>
    </mat-card-content>
  </mat-card>

</div>
