<div class="quad-grid-container">

  <mat-card>
    <div class="title-container">
      <div class="content-title card-title-padding">LZMA - Dictionary</div>
      <div class="image title-image-height" style="background-image: url('assets/logo-7zipclassiclzma.svg');"></div>
    </div>
    <mat-card-content class="content-subtitle">
      <ul>
        <li>Compresses <i>Shakespeare's</i> works to 28% size</li>
        <li>
          <div class="image bullet-image-height" style="background-image: url('assets/logo-7zip.svg');"></div>
        </li>
        <li>High compression ratio</li>
        <li>Uses a dictionary compression scheme</li>
      </ul>
    </mat-card-content>

  </mat-card>

  <mat-card>
    <div class="title-container">
      <div class="content-title card-title-padding">GZIP - HTTP compression</div>
      <div class="image title-image-height" style="background-image: url('assets/logo-gzip3d.png');"></div>
    </div>
    <mat-card-content class="content-subtitle">
      <ul>
        <li>Compresses <i>Shakespeare's</i> works to 39% size</li>
        <li>
          <div class="image bullet-image-height" style="background-image: url('assets/logo-gnu.png');"></div>
        </li>
        <li>Used in HTTP compression, to speed up sending HTML</li>
        <li>Combination of <i>LZW</i> and <i>Huffman coding</i></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <div class="cursor-pointer hover-bright" (click)="openJpegDialog()">
    <mat-card>
      <div class="title-container">
        <div class="content-title card-title-padding">JPEG - Discrete Cosine Transforms</div>
        <div class="image title-image-height" style="background-image: url('assets/logo-jpeg.png');"></div>
      </div>
      <mat-card-content>
        <div class="image-zoom-container">
          <div style="background-image: url('assets/lenna-example.jpg');"></div>
          <div style="background-image: url('assets/lenna-compressed.jpg');"></div>
          <div style="background-image: url('assets/lenna-super-compressed.jpg');"></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="cursor-pointer hover-bright" (click)="openKeyframesDialog()">
    <mat-card>
      <div class="title-container">
        <div class="content-title card-title-padding">MPEG - Keyframes</div>
        <div class="image title-image-height" style="background-image: url('assets/logo-mpeg.png');"></div>
      </div>
      <mat-card-content>
        <div class="image example-image" style="background-image: url('assets/keyframes-example.jpg');"></div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
