.image {
  background-size: contain;
  background-repeat: no-repeat;
}

.title-image-height {
  height: 100px;
  background-position: right;
}

.bullet-image-height {
  height: 80px;
  background-position: left;
  margin-top: -24px;
}

ul > li {
  padding: 4px 0;
}

.quad-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content auto;
  grid-gap: 16px;
}

.image-zoom-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  div {
    @extend .image;
    @extend .example-image;
  }
}

.example-image {
  height: 200px;
  image-rendering: pixelated;
  background-position: center;
}

.title-container {
  display: grid;
  grid-template-columns: auto auto;
}

.center-title {
  text-align: center;
}
