@import '../page-in-real-life-compression.component';

.image-zoom-container {
  @extend .image-zoom-container;
  height: 550px;

  div {
    height: 100%;
  }
}

.mat-card-remove-box {
  box-shadow: unset;
  padding: unset;
}
