<div (click)="onNoClick()">
  <mat-card class="mat-card-remove-box">
    <div class="page-title card-title-padding align-text-center">JPEG - Discrete Cosine Transforms</div>
    <mat-card-content>
      <div class="image-zoom-container">
        <div style="background-image: url('assets/lenna-example.jpg');"></div>
        <div style="background-image: url('assets/lenna-compressed.jpg');"></div>
        <div style="background-image: url('assets/lenna-super-compressed.jpg');"></div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
