<div class="bi-container" (click)="bulletNumber = bulletNumber + 1">

  <div class="bi-vertical-container">
    <div class="overlap-container">
<!--      <app-button-icon-fab class="overlap-b place-button-corner-top"-->
<!--                           (buttonClick)="openFourierFullScreenDialog();"-->
<!--                           (click)="$event.stopPropagation();">-->
<!--        aspect_ratio-->
<!--      </app-button-icon-fab>-->

      <mat-card class="overlap-a summary-fadeable" [class.show]="bulletNumber > 1">
        <div class="content-title card-title-padding">Fourier Transform</div>
        <mat-card-content>
          <ul class="content-subtitle">
            <li>Converts image to frequency domain</li>
            <li>Here pixels define the specific sharpness of the image</li>
            <li>Manipulating these pixels will change the image properties</li>
            <li>Convert the image back to the spatial domain to get results</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="summary-fadeable" [class.show]="bulletNumber > 2">
      <mat-card-content>

        <mat-tab-group [selectedIndex]="fourierSwapIndex" class="move-tabs-to-bottom"
                       (click)="userClickTab(); $event.stopPropagation();">
          <mat-tab label="Transform">
            <div class="content-title">Spatial Domain To Frequency Domain</div>
            <div class="tab-content fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-normal.jpg');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image" style="background-image: url('assets/fourier/fourier-map.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Sharpen">
            <div class="content-title">Highpass Filter (Edge Detection)</div>
            <div class="tab-content fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-sharp-map.jpg');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image" style="background-image: url('assets/fourier/fourier-sharp-result.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Blur">
            <div class="content-title">Lowpass Filter (Blur)</div>
            <div class="tab-content fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-map.jpg');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-result.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Custom">
            <div class="content-title">Custom Filter</div>
            <div class="tab-content fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-special-map.jpg');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image"
                   style="background-image: url('assets/fourier/fourier-special-result.jpg');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="bi-vertical-container">
    <mat-card class="space-for-tab-header summary-fadeable" [class.show]="bulletNumber > 3">
      <mat-card-content>

        <mat-tab-group [selectedIndex]="logoSwapIndex" class="move-tabs-to-bottom"
                       (click)="userClickTab(); $event.stopPropagation();">
          <mat-tab label="Usage">
            <div class="content-title">Applying blur with Paint.Net</div>
            <div class="tab-content">
              <div class="large-image" style="background-image: url('assets/example-paint-dot-net.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Apps">
            <div class="content-title">Apps that do image filtering</div>
            <div class="tab-content">
              <ul class="content-subtitle bullet-list-grid-container">
                <li>Adobe Photoshop</li>
                <li>CorelDRAW</li>
                <li>GIMP</li>
                <li>Paint.NET</li>
                <li>Google Photos</li>
                <li>and many, many more</li>
              </ul>
              <div class="logos-container">
                <div class="logo-image" style="background-image: url('assets/logo-corel-draw.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-google-photos.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-gimp.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-paintdotnet.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-photoshop.png');"></div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Mobile">
            <div class="content-title">Filters on a Google Pixel 2</div>
            <div class="tab-content">
              <div class="large-image" style="background-image: url('assets/example-pixel-2-image.png');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>

    <div class="padding-for-corner-button overlap-container summary-fadeable" [class.show]="bulletNumber > 3">
      <app-button-icon-fab class="overlap-b place-button-corner-top"
                           (buttonClick)="openSeeingWifiDialog()">aspect_ratio
      </app-button-icon-fab>

      <mat-card class="overlap-a">
        <div class="content-title card-title-padding">Other Applications Of Image Processing</div>
        <mat-card-content>
          <ul class="content-subtitle">
            <li>Computer Vision in use on self driving cars</li>
            <li>Object Recognition</li>
            <li>Face Detection</li>
            <li>Image-based indoor positioning system</li>
            <li>Image Analysis Problems in Astronomy</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
