@import 'styles/fonts';
@import 'styles/styles';

.quad-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 16px;
}

.logo-image {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.large-image {
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.extra-large-image {
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.logos-container {
  padding: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 16px;
}

.large-tab-content {
  height: 800px;
  padding: 16px;
}

.tab-content {
  height: 400px;
  padding: 16px;
}

.move-tabs-to-bottom ::ng-deep mat-tab-header {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.space-for-tab-header {
  padding-bottom: 48px;
}

.bullet-list-grid-container {
  display: grid;

  grid-auto-flow: column;
  grid-gap: 6px;
  grid-template-rows: auto auto;
}

// *
.fourier-container {
  display: grid;
  grid-template-columns: auto max-content auto;
  grid-gap: 6px;

  .center-arrow {
    place-self: center;
    font-size: $size-content-title;
  }
}

.bi-vertical-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 16px;
}

.place-button-corner-top {
  place-self: start end;
  transform: translate(-10%, -50%);
}

:host-context(.is-presentation-mode) {
  .summary-fadeable {
    @extend .fadeable;
  }
}

.padding-for-corner-button {
  padding-top: 24px;
}
