<div class="bi-container" (click)="bulletNumber = bulletNumber + 1">

  <div class="bi-vertical-container">
    <mat-card class="space-for-tab-header summary-fadeable" [class.show]="bulletNumber > 1">
      <mat-card-content>

        <mat-tab-group #logoTabGroup
                       [selectedIndex]="logoSwapIndex" class="move-tabs-to-bottom"
                       (click)="userClickTab(); $event.stopPropagation();">
          <mat-tab label="Usage">
            <div class="content-title">Applying blur with Paint.Net</div>
            <div class="tab-content">
              <div class="large-image" style="background-image: url('assets/example-paint-dot-net.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Apps">
            <div class="content-title">Apps that do image filtering</div>
            <div class="tab-content">
              <ul class="content-subtitle bullet-list-grid-container">
                <li>Adobe Photoshop</li>
                <li>CorelDRAW</li>
                <li>GIMP</li>
                <li>Paint.NET</li>
                <li>Google Photos</li>
                <li>and many, many more</li>
              </ul>
              <div class="logos-container">
                <div class="logo-image" style="background-image: url('assets/logo-corel-draw.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-google-photos.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-gimp.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-paintdotnet.png');"></div>
                <div class="logo-image" style="background-image: url('assets/logo-photoshop.png');"></div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Mobile">
            <div class="content-title">Filters on a Google Pixel 2</div>
            <div class="tab-content">
              <div class="large-image" style="background-image: url('assets/example-pixel-2-image.png');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>

    <div class="padding-for-corner-button overlap-container summary-fadeable" [class.show]="bulletNumber > 2">
      <app-button-icon-fab class="overlap-b place-button-corner-top"
                           (buttonClick)="openSeeingWifiDialog()">aspect_ratio
      </app-button-icon-fab>

      <mat-card class="overlap-a">
        <div class="content-title card-title-padding">Other Applications of Image Processing</div>
        <mat-card-content>
          <ul class="content-subtitle">
            <li><a class="cursor-pointer hover-code-highlight" (click)="$event.stopPropagation(); openComputerVisionDialog()">Computer Vision in use on self driving cars</a></li>
            <li><a class="cursor-pointer hover-code-highlight" (click)="$event.stopPropagation(); openObjectRecognitionDialog()">Object Recognition</a></li>
            <li><a class="cursor-pointer hover-code-highlight" (click)="$event.stopPropagation(); openFaceDetectionDialog()">Face Detection</a></li>
            <li><a class="cursor-pointer hover-code-highlight" (click)="$event.stopPropagation(); openIndoorGpsDialog()">Image-based indoor positioning system</a></li>
            <li>Image Analysis Problems in Astronomy</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="bi-vertical-container">
    <mat-card class="space-for-tab-header summary-fadeable" [class.show]="bulletNumber > 3">
      <mat-card-content>

        <mat-tab-group #astroTabGroup
                       [selectedIndex]="astroSwapIndex" class="move-tabs-to-bottom"
                       (click)="userClickTab(); $event.stopPropagation();">
          <mat-tab label="Nebula">
            <div class="content-title">Cat's Eye Nebula</div>
            <div class="large-tab-content">
              <div class="extra-large-image" style="background-image: url('assets/image-processing/cat.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Black Hole">
            <div class="content-title">M87 Black Hole</div>
            <div class="large-tab-content">
              <div class="extra-large-image" style="background-image: url('assets/image-processing/blackhole.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Pillars">
            <div class="content-title">Pillars of Creation</div>
            <div class="large-tab-content">
              <div class="extra-large-image" style="background-image: url('assets/image-processing/pillars.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab label="Veil">
            <div class="content-title">Veil Nebula</div>
            <div class="large-tab-content">
              <div class="extra-large-image" style="background-image: url('assets/image-processing/veil.jpg');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>
  </div>

</div>
