<!--
Do not hide the tab headers, use them for control during presentation
- in order to talk about a specific picture
- pause the carousel timer for 10 seconds on manual clicks
-->


<div class="bi-container">

  <div class="bi-vertical-container">
    <mat-card>
      <div class="content-title card-title-padding">Fourier Transform</div>
      <mat-card-content>
        <ul class="content-subtitle">
          <li>Converts image to frequency domain</li>
          <li>Here pixels define the specific sharpness of the image</li>
          <li>Manipulating these pixels will change the image properties</li>
          <li>Convert the image back to the spatial domain to get results</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>

        <mat-tab-group [selectedIndex]="fourierSwapIndex" class="remove-header">
          <mat-tab>
            <div class="content-title">Spatial Domain To Frequency Domain</div>
            <div class="large-image-padding fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-normal.png');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image" style="background-image: url('assets/fourier/fourier-map.png');"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <div class="content-title">Highpass Filter (Edge Detection)</div>
            <div class="large-image-padding fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-sharp-map.png');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image"
                   style="background-image: url('assets/fourier/fourier-sharp-result.png');"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <div class="content-title">Lowpass Filter (Blur)</div>
            <div class="large-image-padding fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-map.png');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image" style="background-image: url('assets/fourier/fourier-blur-result.png');"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <div class="content-title">Custom Filter</div>
            <div class="large-image-padding fourier-container">
              <div class="large-image" style="background-image: url('assets/fourier/fourier-special-map.png');"></div>
              <mat-icon class="center-arrow">arrow_forward</mat-icon>
              <div class="large-image"
                   style="background-image: url('assets/fourier/fourier-special-result.png');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="bi-vertical-container">

    <mat-card>
      <mat-card-content>

        <mat-tab-group [selectedIndex]="logoSwapIndex" class="remove-header">
          <mat-tab>
            <div class="content-title">Applying blur with Paint.Net</div>
            <div class="large-image-padding">
              <div class="large-image" style="background-image: url('assets/example-paint-dot-net.png');"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <div class="content-title">Apps that do image filtering</div>
            <ul class="content-subtitle bullet-list-grid-container">
              <li>Adobe Photoshop</li>
              <li>CorelDRAW</li>
              <li>GIMP</li>
              <li>Paint.NET</li>
              <li>Google Photos</li>
              <li>and many, many more</li>
            </ul>
            <div class="logos-container">
              <div class="logo-image" style="background-image: url('assets/logo-corel-draw.png');"></div>
              <div class="logo-image" style="background-image: url('assets/logo-google-photos.png');"></div>
              <div class="logo-image" style="background-image: url('assets/logo-gimp.png');"></div>
              <div class="logo-image" style="background-image: url('assets/logo-paintdotnet.jpg');"></div>
              <div class="logo-image" style="background-image: url('assets/logo-photoshop.jpg');"></div>
            </div>
          </mat-tab>

          <mat-tab>
            <div class="content-title">Basic filters on a Google Pixel 2</div>
            <div class="large-image-padding">
              <div class="large-image" style="background-image: url('assets/example-pixel-2-image.png');"></div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </mat-card-content>
    </mat-card>

    <mat-card>
      <div class="content-title card-title-padding">Other Applications Of Image Processing</div>
      <mat-card-content>
        <ul class="content-subtitle">
          <li>Computer Vision in use on self driving cars</li>
          <li>Object Recognition</li>
          <li>Face Detection</li>
          <li>Image-based indoor positioning system</li>
          <li>Image Analysis Problems in Astronomy</li>
        </ul>
      </mat-card-content>
    </mat-card>

  </div>

</div>
