<div class="huffman-tree-container">

  <div class="text-to-encode">

    <mat-card>
      <div class="content-title card-title-padding">Example Text</div>
      <mat-card-content>
        <span class="content-subtitle" *ngFor="let line of huffmanCoding?.lines">{{line}}</span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="huffman-table">

    <mat-card>
      <mat-card-title>
        <div class="mat-card-fix-title-button-container">
          <div class="content-title card-title-padding">Frequency Table</div>
          <div class="mat-card-fix-align-right">
            <button class="hover-darken"
                    mat-mini-fab
                    color="primary"
                    (click)="resetTable()">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>

      <mat-card-content>

        <div class="huffman-frequency-table">
          <div class="character">Character</div>
          <div class="usages">Usages</div>
        </div>
        <mat-divider class="divider-normal"></mat-divider>

        <mat-list class="scrollbar-primary list-size"
                  (mouseleave)="tableHoverIndex = undefined">

          <ng-container *ngFor="let hc of tableDisplay; let i = index;">
            <mat-list-item class="cursor-pointer fix-mat-list-item-height"
                           (click)="listItemClicked(hc);"
                           (mouseenter)="tableHoverIndex = i-((tableDisplay.length-i)%2)"
                           [class.highlight-code-viewing-secondary]="i >= tableHoverIndex">
              <div class="huffman-frequency-table">
                <div class="character">{{hc.display}}</div>
                <div class="usages">{{hc.usages}}</div>
              </div>
            </mat-list-item>

            <mat-divider class="divider-normal"></mat-divider>
          </ng-container>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="huffman-tree">

    <app-huffman-tree [tree]="huffmanCoding?.tree"
                      [minInsertOrder$]="minInsertOrder$"
                      [selectedPath$]="selectedPath$"></app-huffman-tree>
  </div>
</div>
