<div class="huffman-encode-container">

  <div class="text-to-encode">
    <mat-card>
      <div class="content-title card-title-padding">Example Text</div>
      <mat-card-content>
        <span class="content-subtitle"
              *ngFor="let char of huffmanCoding?.text.split('')"
              [class.highlight-code-viewing]="char.toLowerCase() === selectedChar">{{char}}</span>
      </mat-card-content>

      <mat-card-footer class="mat-card-fix-footer-padding">
        <app-entropy-info [entropyObject]="huffmanCoding"></app-entropy-info>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="binary">
    <mat-card>
      <div class="content-title card-title-padding">Example Text in Binary</div>
      <mat-card-content>
        <span class="code-subtitle cursor-pointer inline-block"
              *ngFor="let binContainer of huffmanCoding?.binary;">
          <span [class.highlight-code-viewing]="binContainer.value === selectedChar">{{binContainer.binary}}</span>
          <span> </span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="encoded">
    <mat-card>
      <div class="mat-card-fix-title-button-container">
        <div class="content-title card-title-padding">Example Text Encoded</div>
        <div class="mat-card-fix-align-right">
          <app-button-icon-fab (buttonClick)="resetDecodings()">restore</app-button-icon-fab>
        </div>
      </div>
      <mat-card-content>
        <span class="code-subtitle hover-code-highlight-secondary cursor-pointer inline-block"
              *ngFor="let hcContainer of huffmanCoding?.encodedArray; let i = index"
              [class.highlight-code-viewing]="hcContainer.value === selectedChar"
              (click)="decodedFlags[i] = !decodedFlags[i]">
          <span *ngIf="!decodedFlags[i]">{{hcContainer.bitcode}}</span>
          <span *ngIf="decodedFlags[i]">{{hcContainer.display + getWhiteSpace(hcContainer.bitcode)}}</span>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="codes-container">
    <mat-card>
      <div class="content-title card-title-padding">Dictionary</div>
      <div class="huffman-character-codes-container">

        <div class="item" (mouseenter)="selectedChar = null">
          <div>Char</div>
          <mat-divider class="divider-normal"></mat-divider>
          <div>Code</div>
        </div>

        <div class="item hover-bright cursor-pointer"
             *ngFor="let col of huffmanCoding?.table"
             (mouseenter)="selectedChar = col.char">
          <div>{{col.display}}</div>
          <mat-divider class="divider-normal"></mat-divider>
          <div>{{col.path}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
