@import 'styles/styles';

.huffman-encode-container {
  display: grid;
  grid-template-columns: 25% auto 26%;
  grid-template-rows: max-content auto;

  // @formatter:off
  grid-template-areas: 'text-to-encode binary encoded'
                       'codes          codes  codes';
  .text-to-encode {grid-area: text-to-encode;}
  .binary {grid-area: binary;}
  .encoded {grid-area: encoded;}
  .codes-container {grid-area: codes;}
  // @formatter:on

  grid-gap: 8px;
}

.huffman-character-codes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

  grid-gap: 8px;

  > .item {
    display: inline;
    background-color: white;
    padding: 4px 0;
    text-align: center;
    @extend .mat-elevation-z1;
  }
}

.inline-block {
  display: inline-block;
}
