<div class="huffman-encode-container">

  <div class="text-to-encode">
    <mat-card>
      <mat-card-title>Not Encoded</mat-card-title>
      <mat-card-content class="card-big-font">
        <span *ngFor="let line of huffmanCoding?.lines">{{line}}</span>
      </mat-card-content>

      <mat-card-footer class="footer-padding">
        <app-entropy-info [entropyObject]="huffmanCoding"></app-entropy-info>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="binary">
    <mat-card>
      <mat-card-title>Not Encoded - Binary</mat-card-title>
      <mat-card-content class="card-medium-font">
        <div class="font-monospace">{{huffmanCoding?.binary}}</div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="encoded">
    <mat-card>
      <mat-card-title>
        <div class="mat-card-fix-title-button-container">
          <div>Encoded</div>
          <div class="mat-card-fix-align-right">
            <button mat-mini-fab
                    color="primary"
                    (click)="resetDecodings()">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-title>
      <mat-card-content class="card-medium-font">
        <span class="font-monospace hover-code-highlight-secondary cursor-pointer"
              *ngFor="let code of huffmanCoding?.encodedArray; let i = index"
              [class.highlight-code-viewing]="code === selectedHuffmanCode"
              (click)="decodedFlags[i] = !decodedFlags[i]">
        <span *ngIf="!decodedFlags[i]">{{code}}</span>
        <span *ngIf="decodedFlags[i]">{{dictionary[code] + getWhiteSpace(code)}}</span>
        <br *ngIf="(i+1)%10==0"></span>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="codes-container">

    <div class="huffman-character-codes-container">

      <div class="item" (mouseenter)="selectedHuffmanCode = null">
        <div>Char</div>
        <mat-divider class="divider-normal"></mat-divider>
        <div>Code</div>
      </div>

      <div class="item hover-bright mat-elevation-z0 cursor-pointer"
           *ngFor="let col of huffmanCoding?.table"
           (mouseenter)="selectedHuffmanCode = col.path">
        <div>{{col.char}}</div>
        <mat-divider class="divider-normal"></mat-divider>
        <div>{{col.path}}</div>
      </div>
    </div>
  </div>
</div>
