@import 'styles/styles';

::ng-deep .mat-icon {
  display: inherit;
  height: unset;
  width: unset;
}

._center-icon {
  color: white;
  place-self: center;
}

$small-size: 20px;
$medium-size: 40px;
$large-size: 60px;
.icon-container {
  display: grid;

  border-radius: 50%;
  border: none;
  padding: 0;
  outline: none;
  user-select: none;

  @extend .mat-elevation-z1;
  @extend .cursor-pointer;

  &.small {
    width: $small-size;
    height: $small-size;

    mat-icon {
      @extend ._center-icon;
      font-size: 0.8 * $small-size;
    }
  }

  &.medium {
    width: $medium-size;
    height: $medium-size;

    mat-icon {
      @extend ._center-icon;
      font-size: 0.8 * $medium-size;
    }
  }

  &.large {
    width: $large-size;
    height: $large-size;

    mat-icon {
      @extend ._center-icon;
      font-size: 0.8 * $large-size;
    }
  }

  &.primary {
    background-color: #43A047;

    mat-icon {
      color: white;
    }
  }

  &.link {
    background-color: white;

    mat-icon {
      color: black;
    }
  }
}

:host-context(.is-presentation-mode) {
  $presentation-mode-small-size: $small-size * $presentation-mode-size-multiplier;
  $presentation-mode-medium-size: $medium-size * $presentation-mode-size-multiplier;
  $presentation-mode-large-size: $large-size * $presentation-mode-size-multiplier;

  .icon-container {
    &.small {
      width: $presentation-mode-small-size;
      height: $presentation-mode-small-size;

      mat-icon {
        font-size: 0.8 * $presentation-mode-small-size;
      }
    }

    &.medium {
      width: $presentation-mode-medium-size;
      height: $presentation-mode-medium-size;

      mat-icon {
        font-size: 0.8 * $presentation-mode-medium-size;
      }
    }

    &.large {
      width: $presentation-mode-large-size;
      height: $presentation-mode-large-size;

      mat-icon {
        font-size: 0.8 * $presentation-mode-large-size;
      }
    }
  }
}
