<div class="overlap-container">
  <app-button-icon-fab class="overlap-b place-button-right"
                       color="warn"
                       (buttonClick)="onNoClick()">clear
  </app-button-icon-fab>

  <mat-card class="overlap-a mat-card-remove-box">
    <div class="page-title card-title-padding align-text-center">
      Seeing Wifi -
      <a href="https://github.com/FOULAB/Project-COGSWORTH">github.com/FOULAB/Project-COGSWORTH</a>
    </div>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Dual">
          <div class="large-image" style="background-image: url('assets/wifi-effects-dual.jpg');"></div>
        </mat-tab>

        <mat-tab label="Overlay">
          <div class="large-image" style="background-image: url('assets/wifi-effects-overlay.jpg');"></div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
