<mat-accordion>
  <mat-expansion-panel
    class="remove-expansion-panel-padding"
    [expanded]="encodeMode">

    <mat-list class="list-small">
      <mat-divider class="divider-normal"></mat-divider>
      <ng-container *ngFor="let rule of encodedWords">
        <mat-list-item class="background-light">
          <span class="text-color-normal">
            {{rule.normal}} = {{rule.encoded}}
          </span>
        </mat-list-item>
        <mat-divider class="divider-normal"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>

<mat-card>
  <mat-card-title>
    <span class="text-song-name">{{data.name}}</span>
    ♣
    <span class="text-artist-name">{{data.artist}}</span></mat-card-title>
  <mat-card-subtitle class="card-big-font">
    <div *ngFor="let line of data.lines">

      <span *ngFor="let word of line.split(' ')"
            [class.highlight-code-viewing]="getEncoded(word)"
            (click)="selectWordToEncode(word)">
        {{encodeMode && getEncoded(word) ? getEncoded(word).encoded : word }}
        {{' '}}
      </span>

    </div>
  </mat-card-subtitle>

  <mat-card-footer>
    <div class="container">

      <div class="item">
        <app-entropy-info
          [bytes]="charLimit"
          [entropyScore]="data.entropyScore"
          [entropyFraction]="data.entropyFraction">
        </app-entropy-info>
      </div>

      <div class="item justify-bottom-right">
        <button mat-flat-button
                (click)="encodeMode = !encodeMode">
          {{encodeMode ? 'Decode' : 'Encode'}}
        </button>
      </div>
    </div>
  </mat-card-footer>

</mat-card>
