@import 'styles/styles';

.social-container {
  width: 100%;

  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 16px;
}

.social-media-button {
  width: 100%;

  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 8px;
  align-items: center;
}

@media #{$mediaQ-small-desktop} {
  .social-media-button {
    justify-items: center;
    grid-template-columns: auto;
  }
}

.button-image {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
}
