@import 'styles/styles';

.contact-container {
  width: 100%;

  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 16px;
}

.contact-media-button {
  width: 100%;

  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 8px;
  align-items: center;
}

@media #{$mediaQ-small-desktop} {
  .contact-media-button {
    justify-items: center;
    grid-template-columns: auto;
  }
}

.button-image {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 60px;
}

.worms-overflow-fix {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  transform: scale(0.85) translate(-6px, -6px);
}

.fix-react-icon-align {
  margin-top: 4px;
  border: 5px solid white !important;
  box-sizing: border-box;
}

.fix-worms-left-padding {
  margin-left: -12px;
}
