<div class="contact-container">
  <div class="contact-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://github.com/Blaarkies/Presentable-Angular">
        <div class="button-image" style="background-image: url('assets/github-circle.svg');"></div>
      </a>
    </app-button-icon-fab>

    <div class="code-subtitle">github.com/Blaarkies</div>
  </div>

  <div class="contact-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://twitter.com/Blaarkies">
        <!-- 'twitt' instead of 'twitter' - ad blockers catch 'twitter' as a social button to block-->
        <div class="button-image" style="background-image: url('assets/twitt-circle.svg');"></div>
      </a>
    </app-button-icon-fab>
    <div class="code-subtitle">@Blaarkies</div>
  </div>

  <div class="contact-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://ksp-commnet-planner.blaarkies.com/">
        <div class="button-image" style="background-image: url('assets/ksp-commnet-planner.png');"></div>
      </a>
    </app-button-icon-fab>
    <div class="code-subtitle">KSP CommNet Planner</div>
  </div>

  <div class="contact-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://reactjs-games.blaarkies.com/limbless-lizard">
        <div class="button-image fix-react-icon-align" style="background-image: url('assets/react-icon.png');"></div>
      </a>
    </app-button-icon-fab>
    <div class="code-subtitle">ReactJS Games</div>
  </div>

  <div class="contact-media-button">
    <div class="worms-overflow-fix">
      <app-button-icon-fab [color]="'link'" [size]="'large'">
        <a href="https://ec-2019-prototype.blaarkies.com/">
          <div class="button-image" style="background-image: url('assets/logo-worms.png');"></div>
        </a>
      </app-button-icon-fab>
    </div>
    <div class="code-subtitle fix-worms-left-padding">Play Worms Game</div>
  </div>

  <div class="contact-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://control-value-accessor.blaarkies.com/">
        <div class="button-image" style="background-image: url('assets/angular-control-value-accessors.png');
                                         background-size: 75%;
                                         background-position: 8px 14px;"></div>
      </a>
    </app-button-icon-fab>
    <div class="code-subtitle">Custom Angular Inputs</div>
  </div>

  <br>

  <!--
  Feedback form not functional yet, and looks ugly
    <div class="social-media-button">
      <button class="margin-right hover-bright"
              mat-fab
              color="link"
              (buttonClick)="feedbackDialog()">
        <mat-icon class="mat-icon-fix-size">info</mat-icon>
      </button>
      <div class="block-font button-text">Feedback</div>
    </div>-->

</div>
