<div class="social-container">
  <div class="social-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://github.com/Blaarkies/Presentable-Angular">
        <div class="button-image" style="background-image: url('assets/github-circle.svg');"></div>
      </a>
    </app-button-icon-fab>

    <div class="code-subtitle">github.com/Blaarkies</div>
  </div>

  <div class="social-media-button">
    <app-button-icon-fab [color]="'link'" [size]="'large'">
      <a href="https://twitter.com/Blaarkies">
        <div class="button-image" style="background-image: url('assets/twitter-circle.svg');"></div>
      </a>
    </app-button-icon-fab>
    <div class="code-subtitle">@Blaarkies</div>
  </div>

  <br>

  <!--
  Feedback form not functional yet, and looks ugly
    <div class="social-media-button">
      <button class="margin-right hover-bright"
              mat-fab
              color="link"
              (click)="feedbackDialog()">
        <mat-icon class="mat-icon-fix-size">info</mat-icon>
      </button>
      <div class="block-font button-text">Feedback</div>
    </div>-->

</div>
