.pixels-container {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-gap: 1px;

  .pixels-item {
  }
}

.pixel-color {
  width: 32px;
  height: 32px;
}

.pixels-on {
  background-color: dimgrey;
}

.pixels-off {
  background-color: whitesmoke;
}

.pixels-highlight {
  outline: 1px solid green;
  background-color: greenyellow;
}

.pixels-encoded-card-size {
  width: 75% !important;
}

.pixels-font {
  font: 24px monospace;
}

.pixels-text-scale {
  transform: scale(2, 1);
  display: inline-block;
  margin-right: 32px;
}

.pixels-encoded-card-padding {
  padding-left: 16px;
}
