@import 'styles/styles';

$color-connectors: dimgray;
$height-connector: 50px;
$rotate-amount-connectors: 30deg;
$margin-amount-connectors: 20%;
.value-as-label {
  border: 2px solid $color-connectors;
  border-radius: 4px;
  text-align: center;
  padding: 8px;
  min-width: 60px;
}

.label-container {
  display: grid;
  grid-template-rows: auto max-content;
}

.left-label-container {
  @extend .label-container;
  place-items: end;

  .label {
    @extend .value-as-label;
  }

  .left-label-connector {
    border-right: 5px solid $color-connectors;
    height: $height-connector;
    transform: skew($rotate-amount-connectors);
    margin-right: $margin-amount-connectors;
  }
}

.right-label-container {
  @extend .label-container;
  place-items: start;

  .label {
    @extend .value-as-label;
  }

  .right-label-connector {
    border-left: 5px solid $color-connectors;
    height: $height-connector;
    transform: skew(-$rotate-amount-connectors);
    margin-left: $margin-amount-connectors;
  }
}

.algorithm-box-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;

  border: 2px solid $color-connectors;
  border-radius: 4px;

  width: max-content;
  padding: 16px;
  margin: auto;

  place-items: center;
}

.center-label-container {
  display: grid;
  place-items: center;

  .label {
    @extend .value-as-label;
  }

  .center-label-connector {
    border-right: 5px solid $color-connectors;
    height: $height-connector;
  }
}

.animate-mat-icon-rotate {
  animation: rotation 2500ms ease-in-out infinite;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

