<mat-card>
  <div class="content-title card-title-padding">{{title}}</div>

  <mat-card-content>
    <div class="content-subtitle">

      <div class="bi-container">
        <div class="left-label-container" *ngIf="inputA">
          <div class="code-subtitle label">{{inputA}}</div>
          <div class="left-label-connector"></div>
        </div>
        <div class="right-label-container" *ngIf="inputB">
          <div class="code-subtitle label">{{inputB}}</div>
          <div class="right-label-connector"></div>
        </div>
      </div>

      <div class="algorithm-box-container">
        <app-button-icon-fab class="animate-mat-icon-rotate"
                             (buttonClick)="onCompleteDestinationImage()">settings
        </app-button-icon-fab>
        <div class="code-title">{{calculation}}</div>
      </div>

      <div class="center-label-container">
        <div class="center-label-connector"></div>
        <div class="code-subtitle label">{{output}}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
