<mat-card>
  <div class="content-title card-title-padding align-text-center">{{title}}</div>

  <mat-card-content>
    <div class="content-subtitle">

      <div class="bi-container">
        <div class="left-label-container" *ngIf="inputATemplate">
          <div class="code-subtitle label">
            <ng-container *ngTemplateOutlet="inputATemplate"></ng-container>
          </div>
          <div class="left-label-connector"></div>
        </div>

        <div class="right-label-container" *ngIf="inputBTemplate">
          <div class="code-subtitle label">
            <ng-container *ngTemplateOutlet="inputBTemplate"></ng-container>
          </div>
          <div class="right-label-connector"></div>
        </div>
      </div>

      <div class="center-label-container" *ngIf="inputCTemplate">
        <div class="algorithm-box-container fit-content">
          <ng-container *ngTemplateOutlet="inputCTemplate"></ng-container>
        </div>
        <div class="center-label-connector"></div>
      </div>

      <div class="center-label-container">
        <div class="algorithm-box-container">
          <app-button-icon-fab class="animate-mat-icon-rotate"
                               (buttonClick)="onCompleteDestinationImage()">settings
          </app-button-icon-fab>
          <div class="code-title">{{calculation}}</div>
        </div>
        <div class="center-label-connector"></div>
      </div>

      <div class="center-label-container" *ngIf="outputBTemplate">
        <div class="algorithm-box-container fit-content">
          <ng-container *ngTemplateOutlet="outputBTemplate"></ng-container>
        </div>
        <div class="center-label-connector"></div>
      </div>

      <div class="center-label-container">
        <div class="code-subtitle label">{{output}}</div>
      </div>

    </div>
  </mat-card-content>
</mat-card>
